#wrapper {
	width: 1000px;
	margin: 0 auto;
}

#title {

}

a {
	color: #B7F9B7;
	font-weight: bold;
}

a:visited, a:hover {
	color: #006000;
}

h2 {
	text-align: center;
	color: #4FC54F;
}

h2:hover {
	color: #006000;
	font-weight: bold;
}

body {
	font-family: 'Oxygen', sans-serif;
	font-style: bold;
	letter-spacing: 2px;
}
header {
	text-align: right;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
}

