<header>

    <div id="wrapper">

        <div id="title-wrapper">

            <!-- Hake Blog logo as svg file. -->
            <div id="logo"> {% include icons/logo.html %} </div>
            <link rel="icon" type="image/png" href="favicon.png">
            
            <!-- Title and tag line. -->
            <h1>Hake Blog</h1>
            <p>A glimpse into the brain of Sam Scott-Hake</p>

            <!-- Nav bar with links to home, about and blog. -->
            <nav>

                <a href="/">Home</a> | 
                <a href="/about">About</a> | 
                <a href="/project-list">Projects</a> | 
                <a href="/blog-list">Blog</a>

            </nav>

        </div>

    </div>

</header>