<section class="intro-section">

	<div class="intro-blurb">
		<h2>Welcome</h2>
		<p class="intro-text">
			Welcome to the personal blog of Sam Scott-Hake. I am currently a graduate student at the 
			University of Lincoln working with Computer Vision and Machine Learning techniques.  This blog contains
			 details of my journey diving into web technology; apps made with various javascript libraries such as 
			 AngularJS and ThreeJS, server and web architecture using techonogies like nodeJS, and 
			 some fun canvas doodles.
		</p>
	</div>

</section>