<section class="news-section">
	
	<div class="projects-lockup">
		<h2 class="news-title">Recent Projects</h2>

		<!-- projects loop -->
		<div class="project-loop">
			{% for project in site.data.settings.projects  limit:3 %}
				<div class="project-details">
					<a class="project-title" href="{{ project.url }}">{{ project.title }}</a>
					<h5 class="project-date">{{project.date}}</h5>
					<p class="project-blurb">
						Simple jQuery app which uses jquery tags to traverse the dom and show approprate content.
					</p>
				</div>
			{% endfor %}
		</div>
		<a href="/project-list">All Projects</a>
	</div>

	<div class="blog-lockup">

		<h2 class="news-title">Recent Blog Posts</h2>

		<div class="project-loop">
			{% for post in site.posts  limit:3 %}
				<div class="project-details">
					<a class="project-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
					<h5 class="project-date">{{post.date | date: "%b %-d, %Y"}}</h5>
				</div>
			{% endfor %}
		</div>
		<a href="/blog-list">All posts</a>
	</div>

</section>